/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* common-style */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
/* header */
.header-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 94px;
  background-color: #562EFF;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}
.logo img{
  width: 40.42;
  height: 51px;
}
.logo span{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}
.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.menu a {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px;
}
.menu a:hover{
  background-color: tomato;
  border-radius: 5px;
}
.profile{
  width: 51px;
  height: 51px;
  transition: transform 1s linear;
}
.profile:hover{
  transform: scale(1.5);
  border: 2px solid tomato;
  border-radius: 50%;
  cursor: pointer;
}
/* top-player */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: #fff;
  width: 870px;
  padding: 30px;
  margin-top: 21px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.top-players {
  margin-bottom: 30px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 3px;
  margin-bottom: 20px;
}
.players{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
}
.player:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.player img{
  width: 56px;
  height: 56px;
  border: 5px solid tomato;
  border-radius: 50%;
  transition: transform 0.5s linear;
}
.player:hover img{
  border: none;
  transform: scale(1.5);
}
.player:hover .player-name{
  margin-left: 45px;
  cursor: pointer;
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
}
/* top-blogs */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.blog {
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.blog:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.blog .thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
  line-height: 27px;
  margin-left: 16px;
}
.blog-title {
  font-size: 18px;
}
.blog-author {
  color: #9f9f9f;
  font-size: 14px;
}
.blog-author a {
  text-decoration: none;
  color: #562eff;
  font-size: 16px;
}
/* courses */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}
.course, .testimonial{
  align-items: center;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.course:hover , .testimonial:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.course .course-banner img {
  width: 224px;
  height: 104px;
}
.course-detail .course-title {
  font-family: Roboto;
  font-size: 20.03px;
  font-weight: 500;
  line-height: 23.48px;
  margin-top: 20px;
}
.course-detail .course-author {
  color: #ed6b4f;
  font-weight: 400;
  font-size: 14.69px;
  line-height: 20px;
}
.course-info{
  display: flex;
  align-items: center;
}
.course-info span {
  left: 28.6%;
  right: 69.92%;
  top: 92.27%;
  bottom: 5.87%;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14.6913px;
  line-height: 22px;
  color: #a2a2a2;
}
.course-duration {
  margin-left: 20px;
  background: #ffe4e8;
  border-radius: 14.6913px;
}
.fa-clock {
  color: #ed6b4f;
  margin: 5px;
}
.course-duration span {
  color: #ed6b4f;
  margin-right: 5px;
  font-weight: 600;
  font-size: 14.6913px;
  line-height: 20px;
  padding: 0 2px;
}
.fa-star {
  left: 22.66%;
  right: 72.14%;
  top: 92.71%;
  bottom: 6.32%;
  font-size: 12px;
}
.fa-star.filled, .fa-star-half{
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
/* testimonials */
.testimonials{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 30px;
}
.testimonial{
  align-items: center;
}
.testimonial-photo img {
  width: 60px;
  height: 60px;
  margin: 10px;
  border: 5px solid tomato;
  border-radius: 50%;
  transition: transform 0.5s linear;
}
.testimonial-photo:hover img{
  border: none;
  transform: scale(1.3);
}
.testimonial-details, .testimonial-photo{
  text-align: center;
}
.testimonial-details .name{
  color: tomato;
  font-size: 20px;
  margin-bottom: 10px;
}
.testimonial-info {
  margin-top: 10px;
}
/* footer */
footer{
  text-align: center;
  font-size: 20px;
}
/* media query */
@media only screen and (max-width:688px) {
  .container {
    width: 97%;
  }
  .players,
  .blogs,
  .courses, .testimonials {
    grid-template-columns: repeat(1, 1fr);
  }
  .player:hover .player-name{
    margin-top: 40px;
    margin-left: 0px;
  }
  .courses{
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }
  .player,
  .blog,
  .course {
    flex-direction: column;
  }
  footer{
    font-size: 16px;
  }
}
